[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
login = "*"
flask-login = "==0.6.1"

[dev-packages]

[requires]
python_version = "3.8"
