@media screen and (min-width:768px){
  .navbar-collapse{
    float: right;
  }
  .advent{
    font-size: 30vh;
  }
  .create_outd{
    font-size: 3.5vh;
  }

  .wonder-card-1, .wonder-card-2,.wonder-card-3, .wonder-card-4{
    width: 20%;
  }

  .card-row{
    display: flex;
    justify-content: space-around;
  }

}


/* 
@media screen and (min-width:768px){

} */


*{
  color: #fff;
}
.banner{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-photo-1158943.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.banner-col{
  height: 100vh;
  display: grid;
  place-items: center;
}
.navbar a{
  color: #fff;
}

.navbar{
  background-color: rgba(19, 28, 33, .4);
}

.tours{
  color: #bfbd31;
}

.nav li a:hover{
  color: #bfbd31;
  background-color: transparent;
}
.btn-default{
  background-color: transparent;
  color: #fff;
}

.icon-bar{
  background-color: #bfbd31;
}

.fa-arrow-down{
  position: relative;
  animation: scroll-down 1s ease-in-out infinite alternate;
}

@keyframes scroll-down{
  0%{top: -5vh;}
  50%{top: 0;}
  100%{top: 5vh; color: #bfbd31;}
}

.wonders{
  background-color: #131C21;
}

.wonder-card-1{
  background-image: url(../images/pexels-photo-8341088.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.wonder-card-2{
  background-image: url(../images/pexels-photo-6808704.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.wonder-card-3{
  background-image: url(../images/pexels-photo-2086917.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.wonder-card-4{
  background-image: url(../images/pexels-photo-2415438.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}


.wonder-card-1, .wonder-card-2,.wonder-card-3, .wonder-card-4{
  margin: 5vh;
}

.reasons{
  color: #131C21;
}
