{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}



{% block content %}
<div class="container-fluid login-bg">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 form-reg">
            <div class="form-bg my-form" style="padding:3% ;">
                <h2 style="padding-bottom: 5vh;">Book a <span class="tours">Slot</span></h2>
                {{wtf.quick_form(bookform)}}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
