<div class="navbar" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TWENDE<span class="board">TOURS</span></a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Adventure</a></li>
              
              <li><a href="">About</a></li>
              <li><a href="">Blogs</a></li>
              
              <li><a href="">Book Now</a></li>
              <li><a href="">LogI In</a></li>
              
      </div>

  </div>
</div>